mat-toolbar{
    position: relative;
    z-index: 5;
    box-shadow: var(--mat-sys-level2);
}
img{
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin-right: 10px;
    vertical-align: middle;
}
.espacio{
    flex: 1 1 auto;
}